@page "/"

<h1>Hello, freinds!</h1>

Welcome to Azure. Here you will find documentation with hands on examples. 

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
<AzureAD Title="Azure AD application integration and governance" />
